



	    {% if users.has_other_pages %}

		{% if users.has_previous %}
	<div class="w3-bar">
		<ul>
		<li class="w3-button"><a class="w3-button" href="?page={{ users.previous_page_number }}">&laquo;</a></li>
	      {% else %}
	      <li class="w3-button" class="disabled"><span>&laquo;</span></li>
	      {% endif %}
	      {% for i in users.paginator.page_range %}
	      {% if users.number == i %}
	      <li class="w3-button" class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
	      {% else %}
	      <li class="w3-button"><a class="w3-button" href="?page={{ i }}">{{ i }}</a></li>
	      {% endif %}
	      {% endfor %}
	      {% if users.has_next %}
	      <li class="w3-button"><a class="w3-button" href="?page={{ users.next_page_number }}">&raquo;</a></li>
	      {% else %}
	      <li class="w3-button" class="disabled"><span>&raquo;</span></li>
	      {% endif %}		{% endif %}
			</ul>
	</div>