{%load static%}
<!DOCTYPE html>

<html lang="en" xmlns:w3-color="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>micpio.com home</title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{% static  'css/w3.css' %}">
</head>

     <style>body, h1, h2, h3, h4, h5, h6 {font-family: Arial, Helvetica, sans-serif}</style>
<body >
<div class="w3-container w3-gray  ">
    <div class="w3-panel w3-red w3-center   w3-wide">
        <a href="http://localhost:8000">home</a>
        <h1 >Humor, Art,Political Cartoons, Books,Photos</h1>
        <br>
        </div>
        </div
        >
{% block pagecontent %}
}
{%endblock%}





    </div><!--panel-->
</div><!--container-->




</body>
</html>